:root {
    height: 100%;
    width: 100%;
    --main-color: white;
    --secondary-color-1: #ADD8E6;
    --secondary-color-2: #81a8b5;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}


.page {
    height: 100%;
    display: grid;
    grid-template: 100% / 1fr 5fr;
}

.sidebar-container {
    background-color: var(--secondary-color-1);
    padding: 24px;
    display: grid;
    gap: 80px;
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr;
}

.sidebar-container > * {
    display: flex;
    color: white;
}

.branding {
    align-items: center;
    gap: 0.5rem;
}

.branding-logo {
    display: grid;
    height: 2rem;
    width: 2rem;
    gap: 0.1rem;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas:
            "square1 square2"
            "square1 square4"
            "square3 square4";
}

.branding-text {
    display: flex;
}

.branding-logo > * {
    background-color: white;
}

#square1 {
    grid-area: square1;
}

#square2 {
    grid-area: square2;
}

#square3 {
    grid-area: square3;
}

#square4 {
    grid-area: square4;
}

.main-navigation, .sub-navigation {
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.container > * {
    border: 4px solid black;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 32px;

}

.header > *{
    background-color: lightpink;
    border: 4px solid indianred;
}

.notification-icon-container * {
    width: 2rem;
    height: 2rem;
}

.login-info-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-info-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 32px;
}

.tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.tool-button {
    background-color: var(--secondary-color-1);
    color: var(--main-color);
    height: 2.5rem;
    width: 6rem;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--secondary-color-1);
    font-weight: bold;
}

.tool-button:hover {
    background-color: var(--secondary-color-2);
    border-color: var(--secondary-color-2);
}